[submodule "vendor/ColorPopover"]
	path = vendor/ColorPopover
	url = https://github.com/jeremylagrue/ColorPopover.git
[submodule "vendor/PrettyKit"]
	path = vendor/PrettyKit
	url = https://github.com/vicpenap/PrettyKit.git
[submodule "vendor/MCSegmentedControl"]
	path = vendor/MCSegmentedControl
	url = https://github.com/oettam/MCSegmentedControl.git
